#cur-unix-time-container .cur-unix-time-caption {
    font-size: 12pt;
    font-weight: normal;
    color: #999;
    margin-bottom: 0;
}

#cur-unix-time {
    border: 1px #fff solid;
    font-size: 30pt;
    font-weight: 500;
    width: 300px;
    color: #317eac;
}

#cur-unix-time.hover {
    border: 1px #bbb solid;
    border-radius: 5px;
    width: 280px;
}

h2 {
    font-size: 16pt;
}

